.my-toolbar{
    --background:  white;
    --color: black;
    --border-width: 2pt;
    --border-color: black;
    width:94%;
    height: 7%;
    margin-top: 4%;
    align-self: center;
    text-align: start;
    font-weight: bold;
  }
  
  ion-content{
    --background: #4ca8f1;
   }

   .btn {
     font-family: Arial, ;
     font-size: 14px;
     text-transform: uppercase;
     font-weight: 700;
     border: none;
     padding: 10px;
     cursor: pointer;
     display: inline-block;
     text-decoration-color: rgb(255, 0, 0);



   }

   .btn-red{
     background: red;
     color: #fff;
     box-shadow: 0 5px 0 #006000;

   }
   .btn-red:active{
     position: relative;
     top: 5px;
     box-shadow: none;
   }
   