  .row{
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    vertical-align: middle;
    text-align: center;
  }
  
  ion-content{
    --background: #4ca8f1;
   }