<ion-header>
  <ion-toolbar style="align-content: center; vertical-align: middle;">
    <ion-row>
      <ion-col size="1">
        <ion-button fill="clear" color="dark" routerLink="/home">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="11" style="text-align: justify; margin-top: 10pt;">
        <ion-title>
          <strong>Adotando um Pet</strong> 
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-instituicao [id]="id"></app-instituicao>
</ion-content>

<!-- Meu comentário em HTML Fernanda -->