.my-toolbar{
    --background:  white;
    --color: black;
    --border-width: 2pt;
    --border-color: black;
    width:94%;
    height: 7%;
    margin-top: 4%;
    align-self: center;
    text-align: start;
    font-weight: bold;
  }
  
  ion-content{
    --background: #4ca8f1;
   }

