.my-toolbar{
  --background:  white;
  --color: black;
  --border-width: 2pt;
  --border-color: black;
  width:94%;
  height: 7%;
  margin-top: 4%;
  align-self: center;
  text-align: start;
  font-weight: bold;
}

 
h4{ 
  text-align:center;
  font-weight: bolder;
  font-size:large;
  color: black;
}

.my-col{
  --background:#f9c214;
    border-radius: 5%;
}

ion-card {
  background-color: rgb(243, 242, 242);
  border: 0.5px solid black;
  border-radius: 2%;
}

ion-card-subtitle{ 
  background-color: #4ca8f1;
  color: white; 
  border: 0.5px solid black;
  font-weight: bold;
  font-size: 12pt;
  margin-right: 4px;
  text-indent: 5pt;
  //Lembrar de como dar um espaçamento 
}

ion-card-content{
  color: black;
  font-size: small;
}

ion image{
  border-radius: 10%;
  object-fit:fill;
}

.p{
  color: black;
}

ion-button{
  color: black;
  font-size: 9pt;
  margin: 0px;
  border-radius: 0%;
}

ion-card button{
  color: white;
}

.aligntext{
  text-align: center;
}

.makeBold{
  font-weight: bold;
}

h1{

  font-weight: bold;
  padding: 0pt;
}


.Adjust{
  text-align: center;
  color: white;
  font-size: 12pt; 
  font-weight: bold;
  background-color:#4ca8f1;
  margin: 5pt;
}

.feedback{
  margin: 10pt;
  background-color: rgb(243, 242, 242); 
  border-style: dashed;
  border-width: 2pt;
  border-radius: 10;
}

.feedback-col{
  text-align: justify;
  vertical-align: middle;
}


.margin{
  margin: 10px;
  text-align: center;
}

.button-icon{
  color:black;
  align-items: start;
  text-indent: 3px;
  vertical-align: middle;
}

.button-button{
  margin: 0px;
  background-color: #4ca8f1;
  align-items: center;
  vertical-align: middle;
  width: 150px;
  color: white;
  justify-content: center;
}

.teste{
  background-color: #f9c214;
}

ion-content{
  --background:#4ca8f1;
 }

 .verticalhorizontal {
  text-align: center;
  vertical-align: middle;
}

.feedbackPosition {
  text-align: center;
}

  .page{
    border-radius: 0;
  }
  h2{
   font-size: 100;
  }
  .photo{
    vertical-align: middle;
    border-radius: 10;
  }